<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-login">
                <h1 class="h3 mb-3 fw-normal">Please log in</h1>
            
                  <label for="floatingInput">Email address</label>
                  <input type="email" class="form-control" [(ngModel)]="user_login.email" name="email" placeholder="email address" required>

                  <label for="floatingPassword">Password</label>
                  <input type="password" class="form-control" [(ngModel)]="user_login.password" name="password" placeholder="Password" required>

                <button class="w-100 btn btn-lg btn-primary" (click)="LogIn()">log in</button>
              </form>
        </div>
    </div>
</div>
<div class="continer">
  <router-outlet></router-outlet>
</div>